node_modules
dist
dist-ssr
*.local
.DS_Store

# Tauri
src-tauri/target/
src-tauri/gen/

# TypeScript build info
*.tsbuildinfo
vite.config.d.ts
vite.config.d.ts.map

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.npmrc
